/*CGI colors 74bb3f is green, c93824 is red, ffb138 is orange, 55b8e3 is blue*/
/*color scheme 1 0033ff (sidebar prehover), 9999ff (sidebar background/sidebar posthover), ffffff (text),000000 (background) 000066*/
/*color scheme 2 1047a9, 4577d4, 6b90d4, 052a6e*/
body {
 	 color: #000000;
  background-color: #ffffff;
}

#left_sidebar {
	list-style-type:none;
	margin:0;
	padding;0;
	float:left;
	position:fixed;
	left:-40px;
	top:-15px;
	text-align:left;
	border: 5px solid #FFFFFF;
	
}
ul a:link,a:visited {
	display:block;
	font-weight:bold;
	color:#000000;
	background-color:#ffffff;
	width:120px;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
ul a:hover,a:active {
	background-color:#1047a9;
}
h1 {
	
	text-align:center;
}
h2 {
	text-align:center;
}
#creation h3 {
	margin-left:40px;
}
#creation h3 p{
	margin-left:40px;
}
#recently_visited h3 {
	margin-left:40px;
}
table {
	text-align:center;
}
#search {
	height:50px;
	width:50px;
}
#entry_nav h3 {
	margin-left:40px;
}
#sign_in_button a {
	height:25px;
	width:30px;
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#000000;
	width:70px;
	margin-left:1180px;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	border-radius:5px;
	text-align:center;
}
#main_content {
	padding:70px;
	margin-left:135px;
	margin-top:-100px;
}
.individual_creation_content {
	margin-left:460px;
	height: 200px;
	width: 800px;
	}
#exampleinformation_creation {
	float:left;
	border: 1px blue solid;
	height: 200px;
	margin-left: -250px;
	}
#editabletitle {
	margin-left: 400px;
	width:500px;
	}
#add_example {
	margin-left: 725px;
	position: relative;
	top: -45px;
	}
.input-xlarge {
	height: 190px;
	width: 500px;
	}
#save_draft{
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 10px;
	}
#browse_mechanics {
	float:left;
	height: 200px;
	margin-left: 200px;
	}
#submit_form{
	position: relative;
	left: 0;
	right: 0;
	text-align: center;
	bottom: -50px;
	}
#interesting_mechanic h2 {
	margin-left: 25px;
	}
#examples .individual_creation_content {
	margin-top:-25px;
	}