#logo {
width: 100px;
height: 75px;
margin-left: 375px;
margin-top: -75px;
}

#sign_in_button {
margin-top:25px;
margin-left: 
}
#show_off {
text-align: center;
}
#need_help {
text-align:center
}
#featured_mechanics {
text-align:center;
}
#explore {
text-align:center;
}
#changelog {
text-align:center;
height: 200px;
}